<?xml version="1.0"?>
<configuration>
	<appSettings>
  <add key="SQLDateFormat" value="dd MMM, yyyy" />
  <add key="MainDB" value="CzBCLPuTgfZYJcvYWl3g8AWlGyF3OdNF2vtVQvOI1SXYWxDTD6GSAtgUpU9l14XeZGwF7C3JMltEiVySPNH1rQGhrXKkLSCO+BLPoaT0yAY=eb23ca55:true" />
  <add key="CompanyDB" value="LPsrYl8X78co53XFTvv6S/Ss5kfURI1/uREFbIBcrhc0QFNMudDzBg9wDZwbdXkgAaWZ8xdo3Xdx6kzEgJ9ZepBQvo5KTUQUcraUNOKOcvU=b30801f9:true" />
  <add key="CompanyDMSDB" value="/l9Tt7LQHAxJdl20Ew42ekp5JdhNgxqJbwH2e+5LxdcXFMxTD8d/rXN6jDxnLburU66iAl11D8r/vuYy+OmOsKxkql5t6aTB7JiK5JrFCEY=f445f220:true" />
  <add key="OLTPDB" value="VIVsyxlLtcg4HxRXihkVC7I6gSjfH5n7zHWSsOM1cbInDm1KrCBTSsX/MMkbCxuThJaF7+NSgkJcOFZQSq/k2M1JHpVr6GlGV6RN/mKdy0A=d9d2899a:true" />
    <add key="Superuser" value="developer" />
    <add key="Superpwd" value="dev123" />
  </appSettings>

	<system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="1200" maxRequestLength="2147483647"/>
    <webServices>
      <protocols>
        <!--<remove name="Documentation"/>-->
      </protocols>
    </webServices>	  
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
          <binding name="CustomBinding_IMSLAService">
			  <binaryMessageEncoding>
				  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
			  </binaryMessageEncoding>
				<httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
          </binding>
        <binding name="customBinding0">
          <binaryMessageEncoding/>
          <httpTransport>
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
     <endpoint address="http://localhost:49633/MSLAService.svc" binding="customBinding"
          bindingConfiguration="CustomBinding_IMSLAService" contract="MSLAService.IMSLAService"
          name="CustomBinding_IMSLAService" />
		
    </client>
    <services>
      <service name="MSLA.Server_WebService.MSLAService">
		<endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_IMSLAService" contract="MSLA.Server_WebService.IMSLAService"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>

			<dataContractSerializer maxItemsInObjectGraph="2147483647"/>

			<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />

          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />     
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
